body{
    margin: 0;
    padding: 0;
    /* Ubicación de la imagen */
    background-image: url(../img/logo.jpeg);
    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: #000;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 420px;
    background: crimson;
    opacity: .85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.contenedor .imglogin{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.contenedor h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
}

.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    display: block;
}

.contenedor input{
    width: 100%;
    margin-bottom: 20px;

}

.contenedor .us,
.contenedor .pass{
    border: none;
    border-bottom: 1px solid darkgrey;
    background: transparent;
    outline: none;
    height: 40px;
    color: wheat;
    font-size: 16px;
}

.btn{
    border: none;
    outline: none;
    height: 40px;
    background-color: darkslategray;
    color: #fff;
    font-size: 22px;
    border-radius: 50px;
    
}

.btn:hover{
    background-color: wheat;
    color: crimson;
}

.contenedor a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .contenedor a:hover {
    color: wheat;
  }

 

  /* diseño responsivo */
@media (max-width: 500px){
.contenedor{
    width: 220px;
    height: 320px;

}

.contenedor h1{
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}

.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    display: block;
    font-size: 14px;
}

.contenedor input{
    width: 100%;
    margin-bottom: 10px;

}

.contenedor .us,
.contenedor .pass{
    border: none;
    border-bottom: 0.5px solid darkgrey;
    background: transparent;
    outline: none;
    height: 18px;
    color: wheat;
    font-size: 12px;
}

.btn{
    border: none;
    outline: none;
    height: 30px;
    background-color: darkslategray;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    
}

.contenedor a {
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    color: darkgrey;
  }
  



}